# Backend
/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/storage/*.key
/public/storage
/public/hot

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/.env
/frontend/.env.local
/frontend/build